body, html{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: linear-gradient(to right, #DACC98 , #e9bb14);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-on-card {
text-align: center;
margin-top: -50%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headline {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container-page {
    height: 100%;
    width: 100%;
    margin: 0%;
}
#container-cards img {
    height: 500px;
    width: 350px;
    border-radius: 3%;
    margin-right: 60px;
    margin-left: 60px;

}

#container-cards {
height: 70%;
width: 100%;
margin-top: 154px;
display: inline-flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
overflow-x: scroll;
}


#container-navigation{
display: flex;
flex-direction: row;
justify-content: flex-start;
justify-content: space-between;
width: 50%;
height: 30px;
margin-top: 0px;
margin-left: 50px;
}

#container-text-right {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 90%;
}

