body{
    background-color: #F497AF;
    font-family: Gotham Rounded SSm,Arial,sans-serif;
}
.navigation{
    list-style-type: none;
    margin: 30px 45px; 
    padding: 0;
    overflow: hidden;
}
ul{
    display: flex;
    
}
li a{
    display: block;
    color: black;
    text-align: center;
    margin: 30px;
    text-decoration: none;
}
.header{
    margin: 90px 80px;
    width: 500px;
}
.heading{
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 0px;
}
.sub-heading{
    letter-spacing: 1px;
    padding-top: 10px;
}
.exhibitions{
    list-style-type: none;
    margin: 30px 45px; 
}
.exh{
    justify-content: center;
}