@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap');

*{
    
    box-sizing: border-box;
}
.Talks{
    background-color: #ececec;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid;
    border-color:#dadde1 ;
    border-width: 1px;
    box-sizing: border-box;
    overflow: hidden;

}


.talk-container-left{
    margin-right: 100px;
width: 250px;
padding-bottom: 50px;
padding-top: 50px;
}

.talk-container-right{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.h1-Talks{
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.p-talks{
    font-size: 16px;
    color:black;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 300;
}