@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

/* Remove default style for elements  */
* {
    margin: 0px;
    padding: 0px;
}

input, button, submit { border:none; background: none; } 

a {
    background-color: none;
    text-decoration: none;
    color: inherit;
}

/* Styles */
body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#DACC98;
}

header {
    margin-top: 40px;
    height: 80px;
    width: 90%;
    display: flex;
    position: fixed;
    /*justify-content: flex-start;*/
    justify-content: space-between;
    align-items: flex-start;
    background-color:#DACC98;
}
header nav {
    display: flex;
    
}


#scrollable-page {
    padding-top: 140px;
    overflow-x: auto;
    display: flex;
    width: max-content;
}

.nav-tab {
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-tab:hover {
    text-decoration: underline;
}

.card {
    /* background-color: yellow; */
    width: 300px;
    height: 500px;
    margin-right: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 10px;
    background-position: center;
    background-size: 300%;
    transition: background-size 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card:hover {
    background-size: 350%;
}

.first-card {
    width: 40vw;
    justify-content: center;
    box-shadow: none;
}

.title-regular {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.paragraph-regular {
    font-size: 25px;
    font-weight: 100;
}


.card-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 6px;
    color: white;
}

.card-text, .card-button  {
    font-size: 16px;
    font-weight:  400;
    color: white;
}

.card-image {
    width: 100%;
}

.card-button {
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.card-button:hover {
    opacity: 0.5;
}


.card-visible-outline {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    padding-top: 50px;
    box-sizing: border-box;
}


#van-gogh-logo {
    justify-self: flex-end;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 60px;
    text-align: right;
    border-radius: 2px;
    line-height: 14px;
}